footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 61px;
    background-color: #696969;
    color: #ffffff;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
}
.footer__block1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    padding-right: 105px;
}
.footer__block1-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 66px;
}
.footer__block1-header-name {
    min-width: 65px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff8500;
}
.footer__block1-header-placeholder {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border-bottom: 1px solid #7a7a7a;
}
.footer__subscribe-caption1 {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}
.footer__subscribe-caption2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
.footer__subscribe-form {
    display: flex;
    margin-top: 15px;
}
#footer__subscribe-input {
    flex-grow: 1;
    height: 50px;
    padding: 0 25px;
}
#footer__subscribe-input.footer__subscribe-input_error {
    border: 2px solid #ff0000;
}
#footer__subscribe-submitbutton {
    height: 50px;
    width: 170px;
    color: #ffffff;
    background-color: #ff8900;
}
#footer__subscribe-submitbutton:hover {
    background: #db7200;
}
#wrong-email-message {
    display: none;
    margin: 10px 0;
    padding: 10px;
    color: #ffffff;
    background-color: #ff0000;
}
#wrong-email-message.wrong-email-message-show {
    display: block;
}
.footer__block2-4 {
    display: flex;
    width: 50%;
    flex-grow: 1;
    padding-left: 10px;
}
.footer__block2-4-1,
.footer__block2-4-2,
.footer__block2-4-3 {
    display: flex;
    flex-direction: column;
    width: 33.333%;
}
.footer__block2-4-header {
    display: flex;
    justify-content: space-between;
    height: 66px;
}
.footer__block2-4-1-header-name,
.footer__block2-4-2-header-name,
.footer__block2-4-3-header-name {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff8500;
}
.footer__block2-4 a,
.footer__block2-4 a:visited,
.footer__block2-4 a:active {
    color: #ffffff;
}
.footer__block2-4 a:hover {
    color: #ffc925;
}
.footer__block2-4-1-header-name {
    min-width: 140px;
}
.footer__block2-4-2-header-name {
    min-width: 65px;
}
.footer__block2-4-3-header-name {
    min-width: 140px;
}
.footer__block2-4-header-placeholder {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #7a7a7a;
}
.footer__block2-4-1-body,
.footer__block2-4-2-body,
.footer__block2-4-3-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 34px;
    height: 150px;
}

.footer__bottom {
    display: flex;
    border-top: 1px solid #757575;
    max-width: 1360px;
    min-height: 83px;
    width: 100%;
    margin-top: 40px;
}
.footer__bottom-logocop {
    display: flex;
    align-items: center;
    width: 50%;
    padding-top: 16px;
}
.footer__bottom-divider {
    height: 37px;
    margin-left: 24px;
    border-left: 1px solid #787878;
}
.footer__bottom-copyright {
    color: #a0a9b2;
    font-size: 12px;
    margin-left: 15px;
}
.footer__bottom-logosocial {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer__bottom-social {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}
.footer__bottom-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 49px;
    width: 49px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #7b8092;
}

.footer__bottom-social-item:visited,
.footer__bottom-social-item:active {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.footer__bottom-social-item:hover {
    color: #ffc925;
    border: 1px solid #ffc925;
}
.footer__bottom-logodevelop {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 8px;
}
.footer__bottom-wezomlogo {
    display: flex;
    align-items: center;
    height: 42px;
}
.footer__bottom-logodevelop-divider {
    height: 42px;
    margin: 0 19px;
    border-left: 1px solid #787878;
}
.footer__bottom-logodevelop-text1,
.footer__bottom-logodevelop-text2 {
    font-size: 12px;
    margin: 8px 0;
}
.footer__bottom-logodevelop-text1 {
    color: #a0a9b2;
}
.footer__bottom-logodevelop-text2 {
    color: #ffffff;
}