header {
    height: 175px;
}
.nav {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #696969;
}
.nav__content, 
.nav__group1, 
.nav__login-button,
.header__content-wrap,
.header__content,
.header__logo,
.header__phone-basket,
.header__phones,
.header__callme-button,
.header__compare-basket  {
    display: flex;
}

.nav__content-wrap {
    max-width: 1360px;
    width: 100%;
}
.nav__content {
    width: 100%;
    justify-content: space-between;
}
.nav__group1 {
    align-items: stretch;
}
.nav__link {
    line-height: 2;
    text-decoration: none;
    margin-right: 31px;
    /* width: 130px; */
    font-size: 16px;
    height: 50px;
    text-align: left;
    padding: 10px 0;
    color: #ffffff;
}
.nav__link_active {
    border-bottom: 2px solid #ffc925; 
}
.nav__login-button {
    background: #ff8900;

    width: 125px;
    color: #fff;
}
.nav__login-button img {
    margin-right: 15px;
}
.nav__login-button-caption {
    line-height: 1;
}

.header__main {
    display: flex;
    justify-content: center;
}
.header__content-wrap {
    justify-content: center;
    min-height: 125px;
    max-width: 1360px;
    width: 100%;
}
.header__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__logo {
    justify-content: left;
    align-items: center;
    /* width: 24.6%; */
    width: 325px;
    margin-right: 10px;
}
.header__phone-basket {
    align-items: center;
    justify-content: space-between;
    /* width: 75.4%; */
    width: 1015px;
    margin-left: 10px;
}

.header__phones {
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 575px;
    background-color: #f5f5f5;
}

.header__callme-button {
    width: 198px;
    height: 50px;
    background: #ff8900;
    color: #ffffff;
}
.header__phone-item {
    font-weight: bold;
    font-style: italic;
    flex-grow: 1;
    text-align: center;
}
.header__callme-button img {
    margin-right: 15px;
}
.header__callme-button-caption {
    line-height: 1;
}

.header__compare-basket {
    justify-content: space-around;
    align-items: center;
    width: 315px;
    margin-right: 20px;
}

.header__cfb-image {
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
}
.header__cfb-caption {
    width: 33.3%;
    padding-top: 11px;
    font-size: 13px;
    text-align: center;
}
.header__basket-counter {
    position: absolute;
    height: 32px;
    width: 34px;
    top: -25px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding-top: 3px;
    background-image: url(../images/icons/digits_bg.png);
    background-repeat: no-repeat;
}
.header__cfb-divider {
    height: 64px;;
    border-left: 1px solid #e4e4e4;
}