.main {
    display: flex;
    justify-content: center;
}
.main__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 1360px;
    width: 100%;
}
.main__header {
    display: flex;
    width: 100%;
    height: 84px;
}
.main__headercards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 35px;
    padding: 13px 13px 13px 0px;
    border-bottom: 1px solid #ffad00;
}
.main__linktocatalog {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    padding: 13px 0 13px 13px;
    font-size: 13px;
    border-bottom: 1px solid #dbdbdb;
}
.main_linkarrow {
    display: flex;
    align-items: center;
    height: 18px;
    margin-left: 11px;
    font-size: 19px;
}
#main__link-to-catalog {
    cursor: pointer;
}
#main__link-to-catalog:visited {
    color: #000000;
}
#main__link-to-catalog:hover {
    color: #000000;
}
.main__product-cards {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.main__productcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 319px;
    margin: 20px 10px 13px 10px;
}
.main__productcard-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 79px;
    color: #848484;
    background-color: #f2f2f2;
}
.main__productcard-name {
    flex-grow: 1;
    line-height: 1.5;
    margin-top: 20px;
}
.main__productcard-name a {
    color: #000000;
}
.main__productcard-name a:visited {
    color: #000000;
}
.main__productcard-name a:active {
    color: #000000;
}
.main__productcard-name a:hover {
    text-decoration: none;
    color: #000000;
}

.main__productcard-RRAblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
}
.main__productcard-rating {
	margin: 0;
}
.main__productcard-rating span {
	padding: 0;
	font-size: 22px;
	line-height: 1;
	color: #a4a4a4;
}
.main__productcard-rating > span:before {
	content: '★';
}
.main__productcard-rating > span.active {
	color: #ff8600;
}
.main__productcard-reviews {
    font-size: 12px;;
    color: #9b9b9b;
}
.main__productcard-reviews a:visited {
    color: #9b9b9b;
}
.main__productcard-reviews a:active {
    color: #9b9b9b;
}
.main__productcard-reviews a:hover {
    text-decoration: none;
    color: #9b9b9b;
}
.main__productcard-availability {
    font-size: 12px;
}
.main__productcard-tipe-photo-product {
    display: flex;
}
.main__productcard-tipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main__productcard-photo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.main__productcard-photo img {
    height: 205px;
}
.main__productcard-tipecar,
.main__productcard-tipestate {
    margin-top: 20px;
}
.main__productcard-summer-icon,
.main__productcard-tipecar-icon,
.main__productcard-tipestate-icon {
    display: flex;
    justify-content: center;
}
.main__productcard-summer-icon-caption,
.main__productcard-tipecar-icon-caption,
.main__productcard-tipestate-caption {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    color: #91959a;
}
.main__productcard-labels {
    display: flex;
    justify-content: center;
    min-height: 48px;
}
.main__productcard-labels-new {
    height: 48px;
    width: 96px;
    background-image: url(../images/icons/new_label_icon.png);
}
.main__productcard-labels-hit {
    height: 48px;
    width: 96px;
    background-image: url(../images/icons/hit_label_icon.png);
}
.main__productcard-labels-discount {
    height: 48px;
    width: 96px;
    background-image: url(../images/icons/discaunt_label_icon.png);
}
.main__productcard-labels-caption {
    display: flex;
    justify-content: center;
    padding-top: 13px;
    font-size: 12px;
    color: #ffffff;
}
.main__productcard-price {
    display: flex;
    justify-content: space-between;
}
.main__productcard-price-actual {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #3b3b3b;
}
.main__productcard-price-past-wrapper {
    display: flex;
    align-items: flex-end;
}
.main__productcard-price-past {
    position: relative;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: #989898;
}
.main__productcard-price-past-linethrough {
    position: absolute;
    width: 100%;
    top: 8px;
    border-bottom: 1px solid #e00000
}
.main__productcard-buybutton-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.main__productcard-buybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 210px;
    background: linear-gradient(to right, #ff8500, #ffad00);
}
.main__productcard-buybutton:hover {
    background: linear-gradient(to right, #d36e00, #e59100);
}
.main__productcard-buybutton-caption {
    margin-left: 15px;
    color: #ffffff;
}
.main__productcard-addactions {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.main__productcard-compare,
.main__productcard-favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__productcard-compare-link,
.main__productcard-favorites-link {
    color: #3b3b3b;
    margin-left: 10px;
}
.main__productcard-compare-link a:visited,
.main__productcard-favorites-link a:visited {
    color: #3b3b3b;
}
.main__productcard-compare-link a:active,
.main__productcard-favorites-link a:active {
    color: #3b3b3b;
}
.main__productcard-compare-link a:hover,
.main__productcard-favorites-link a:hover {
    text-decoration: none;
    color: #3b3b3b;
}






.main__product-cards-divider {
    align-items: stretch;
    border-left: 1px solid #dbdbdb;
}