.popup-callme {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 900;
}
.popup-callme_show {
    display: flex;
}
.popup-callme__body {
    position: relative;
    width: 378px;
    height: 283px;
    padding: 30px 40px;
    background-color: #ffffff;
    color: #000000;
}
.popup-callme__close {
    display: block;
    position: absolute;
    top: -48px;
    right: -52px;
    padding: 5px 10px;
    color: #fff;
}
.popup-callme__content form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    label {
        font-size: 14px;
    }
}
.popup-callme__content h2 {
    margin: 0;
}
#telnumber {
    height: 40px;
    margin-top: 10px;
    padding: 0 12px;
    border: 1px solid #000000;
}
.popup-callme__submit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#popup-callme__submit {
    height: 50px;
    width: 210px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff8900;
}
#popup-callme__submit:hover {
    background: #db7200;
}