.top {
    display: flex;
    justify-content: center;
}
.top__wrapper {
    max-width: 1360px;
    width: 100%;
}
.top__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.top__menu {
    margin-right: 10px;
}
.top__menu-header {
    display: flex;
    align-items: center;
    width: 325px;
    height: 56px;
    background-color: #ff9e00;
}
.top__menu-caption {
    font-size: 26px;
    color: #fff;
}
.top__burger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 56px;
    font-size: 26px;
    border-right: 1px solid #de7300;
    background-color: #db7200;
}
.top__menu-title {
    padding-left: 22px;
}
.top__menu-item {
    display: flex;
    text-decoration: none;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    font-size: 22px;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.top__menu-item:visited {
    text-decoration: none;
    color: #000000;
}
.top__menu-item:active {
    text-decoration: none;
}
.top__menu-item:hover {
    text-decoration: none;
    color: #000000;
}
.top__menu-item_first {
    height: 59px;
    color: #000000;
}

.top__forms {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 1015px;
    margin-left: 10px;
}
.top__forms-search {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 56px;
    width: 100%;
    background-color: #f5f5f5;
}
.top__forms-search-divider {
    height: 37px;
    border-left: 1px solid #dadada;
}
#search {
    padding: 0 28px;
    flex-grow: 1;
    height: 100%;
    font-size: 19px;
    background-color: #f5f5f5;
}
.top__forms-select-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: stretch;
    position: relative;
}
#categories {
    padding-left: 10px;
    padding-right: 25px;
    height: 100%;
    width: 148px;
    color: #616161;
    font-size: 16px;
    background-color: #f5f5f5;
}
.top__forms-select-custom-arrow {
    display: flex;
    align-items: center;
    font-size: 9px;
    position: absolute;
    right: 10px;
    top: 19px;
    z-index: 1;
    text-align: center;
    width: 10px;
    height: 20px;
    pointer-events: none;
    box-sizing: border-box;
    color: #616161;
  }
.top__forms-search-button {
    width: 166px;
    height: 100%;
    font-size: 22px;
    background-color: #ff8900;
    color: #ffffff;
}

.top__forms-biggroup {
    flex-grow: 1;
    margin-top: 20px;
    width: 100%;
    background-color: #696969;
}
.top__forms-sections {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 74px;
    background-color: #606a76;
}
.top__forms-partlink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #a9aeb3;
}
.top__forms-partlink:visited {
    text-decoration: none;
    color: none;
}
.top__forms-partlink:active {
    text-decoration: none;
    color: none;
}
.top__forms-partlink:hover {
    text-decoration: none;
    color: none;
}
.top__forms-partlink img {
    margin-right: 20px;
}
.top__forms-partlink_actual {
    color: #ffffff;
    border-bottom: 2px solid #ffc925;
}
.top__forms-selectgroup {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
}
.top__forms-tabs-wrapper {
    height: 44px;
}
.top__forms-tabsgroup {
    display: flex;
    height: 100%;
    width: 281px;
    padding: 3px;
    background-color: #efefef;
}
.top__forms-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    font-size: 19px;
    color: #696969;
    background-color: #efefef;
}
.top__forms-tab_active {
    color: #ffffff;
    background-color: #ff8900;;
}
.top__forms-selects {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 108px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 23px;
}
.top__forms-selects-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: relative;
    height: 42px;
    width: 222px;
    margin: 0 10px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ffffff;
}
.top__forms-selects-wrapper:hover {
    border-bottom: 1px solid #ff8500;
}
.top__forms-selects-item {
    padding-left: 15px;
    padding-right: 40px;
    color: #9c9c9c;
    font-size: 16px;
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.top__forms-selects-item-custom-arrow {
    display: flex;
    align-items: center;
    font-size: 9px;
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 1;
    text-align: center;
    width: 10px;
    height: 20px;
    pointer-events: none;
    box-sizing: border-box;
    color: #ff8500;  
}
.top__forms-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    width: 222px;
    margin: 0 10px;
}
.top__forms-price-caption {
    font-size: 19px;
    color: #ffffff;
}
.top__forms-price-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: relative;
    height: 42px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ffffff;
    margin-left: 13px;
}
.top__forms-price-input-wrapper:hover {
    border-bottom: 1px solid #ff8500;
}
.top__forms-price-input-wrapper input {
    text-align: center;
    height: 100%;
    width: 74px;
}
.top__forms-submit-wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 23px;
}
#top__forms-reset-button,
#top__forms-submit-button {
    display: flex;
    font-size: 18px;
    height: 100%;
    width: 210px;
    color: #ffffff;
}
#top__forms-reset-button {
    background-color: #ff4800;
}
#top__forms-submit-button {
    background: linear-gradient(to right, #ff8500, #ffad00);
}